.card{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}

.article {
    max-width: 400px;
    width: 100%;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    background-color: #181e29;
}